# Crash dumps
*.mdmp
*.dmp

# Visual Studio user settings
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.cachefile
*.SPFileList
*.map
*.ilk
*.bsc

# Visual C++ debug database
*.pdb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Ignore generated source files
AutoGen/

# Assets installed by external means
/bin/*/

# Except the folders below
!/bin/beaconizer/
!/bin/qt_plugins/
!/bin/textclientdebug/

# Build artefacts
/3rdparty/bin/

Win32/
x64/

